* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: linear-gradient(to bottom, #9cc8dd, #6aa0b7); 
    /* background: linear-gradient(to bottom, #81bfdc, #477f97); Afternoon */
    /* background: linear-gradient(to bottom, #859dde, #34487a); Evening */
    /* background: linear-gradient(to bottom, #6e66a4, #13111e); Dawn */
    /* background: linear-gradient(to bottom, #383647, #0d0d10);  */
    font-family: "Libre Franklin", sans-serif;
}

footer {
    padding: 5px;
    bottom: 0;
    flex-shrink: 0;
    background-color:#ffffff3b;
    text-align: center;
    font-size: small;
    color: #c1c6de;
}
a:visited{
    color: #f3ffc8;
}
#githubIcon{
    width: 3%;
}
span{
    font-size: small;
}

h1{
    font-weight: 500;
    font-size: 6REM;
    margin: 0px;
    /* SHDOW EFFECT below */
    /* text-shadow: -5px 5px 10px #515151;
    color: white; */
}
h4{
    font-weight: 500;
    margin: 0;
}

.locationInput{
    width: 350px;
    height: 25px;
    padding: 8px;
    border-radius: 12px;
    border: 0;
    color:#7b8094
}

.main {
    padding: 24px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.locationOutput{
    margin-bottom: 0px;
    font-size: larger;
}
.timeOutput{
    margin-top: 10px;
    font-size: small;
}
.realtime {
    width: 15%;
    display: grid;
    grid-auto-flow: column;
    grid-template: 4fr 1fr / 1fr 1fr;
    justify-content: center;
}
    .realtimeTop {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .realtimeLowHigh {
        display: flex;
        gap: 20px;
    }
    .icon{
        margin: 0;
        padding: 12px;
        align-self: center;
        justify-self: center;
    }
    .realtimeDescription{
        justify-self: center;
    }

.unitBtn{
    border-radius: 24px;
    align-self: baseline;
}
.unitBtn:hover{
    cursor: pointer;
}
    .metric{
        border: 2px solid #549ab8;
        color: #549ab8;
    }
    .imperial {
        border: 2px solid #ffffff;
        color: #ffffff;
        background-color: #549ab8;
    }

.hourlyForecast, .dailyForecast{
    width: 810px;
    background-color: #ffffff3b;
    padding: 18px;
    border-radius: 12px;
}
    h3{
        margin: 4px;
        position: sticky;
        left: 5px;
        z-index: 1;
    }
    .hourlyForecastData{
        display: grid;
        grid-auto-flow: column;
        gap: 100px;
        text-align: center;
        overflow-x: auto;
        white-space: nowrap;
    }
        .hourDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hourDiv > *{
            margin: 4px;
            font-size: .85rem;
        }
            .hourDay {
                /* font-size: smaller; */
                margin-bottom: 0px;
            }
            .hourIcon, .dayIcon{
                width: 35px;
                display: flex;
                flex-direction: column;
            }
.dailyForecast {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    background-color: #ffffff3b;
    padding: 12px;
    border-radius: 12px;
}
    .dailyForecastData{

    }
        .dayDiv{
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
        }
            
@media (max-width: 930px) {
    .hourlyForecast,
    .dailyForecast {
        width: 525px;
        /* padding: 18px;
        border-radius: 12px; */
    }
}
@media (max-width: 530px) {

    .hourlyForecast,
    .dailyForecast {
        width: 100vw;
        padding: 18px;
        border-radius: 0px;
    }
}
@media (max-width: 400px) {

    .locationInput {
        width: 100%;
    }
    .realtime{
        grid-template: 3fr 1fr / 1fr 1fr
    }
    .realtimeTop{
        gap: 0px;
    }
    h1{
        font-size: 25vw;

    }
    h4{
        font-size: small;
    }
    .icon{
        width: 35vw;
        height: auto;
    }
    
}

