* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #7b8094;
    background-color: #c9ccda;
}

footer {
    padding: 5px;
    bottom: 0;
    flex-shrink: 0;
    background-color:#9a9fb6;
    text-align: center;
}

.locationInput{
    width: 350px;
    height: 25px;
    padding: 8px;
    border-radius: 12px;
    border: 0;
}

.main {
    padding: 24px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .todayData {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .todayTemps{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .todayLowHigh{
            display: flex;
            gap: 20px;
        }
    .todayInfo {
        width: 100%;
        flex: 1;
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }